* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    height: 12rem;
    display: flex;
    
}

#logo {
    display: block;
    margin: 4rem auto 0 auto;
    height: 6rem;
}

main {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    gap: 4rem; 
    padding-bottom: 2rem;
}

.coluna {
    display: flex;
    flex-direction: column;
}

button {
    width: 39rem;
    height: 10rem;
    margin-top: 3rem;

    border-radius: 1.5rem;
    border: none;

    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,0,0,0.3);
}

footer {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 0.7rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}